<form id="formulario-panel">
    <fieldset style="margin-bottom: 15px; padding: 10px;">
    <legend><strong>Tipo de Cuenta (Simulación Freemium)</strong></legend>
    <label>
        <input type="radio" name="planPremium" value="false" id="plan-freemium" checked onchange="evaluarRestriccionesPlan()">
        Plan Gratuito (Básico)
    </label>
    <br>
    <label>
        <input type="radio" name="planPremium" value="true" id="plan-premium" onchange="evaluarRestriccionesPlan()">
        Plan Premium 🌟 (Alertas SMS activas)
    </label>
</fieldset>
    <select id="input-sangre">
        <option value="O+">O Positivo (O+)</option>
        <option value="A+">A Positivo (A+)</option>
        </select>
    <textarea id="input-alergias" placeholder="Alergias..."></textarea>
    <textarea id="input-condiciones" placeholder="Condiciones médicas..."></textarea>
    <textarea id="input-medicamentos" placeholder="Medicamentos actuales..."></textarea>

    <input type="text" id="contacto1-nombre" placeholder="Nombre Familiar">
    <input type="text" id="contacto1-telefono" placeholder="+521234567890">
    <input type="text" id="contacto1-relacion" placeholder="Esposa, Madre, etc.">

    <button type="submit">Guardar Configuración</button>
</form>

<div id="contenedor-qr">Cargando código QR único...</div>